name: Release
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch'
        required: true
        default: 'master'
      tag:
        description: 'Release Tag'
        required: true
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14

      - name: Build Cross
        run: make cross
        
      - name: Ship it
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          prerelease: true
          tag: ${{ github.event.inputs.tag }}
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}
